a {
    text-decoration: none;
    justify-content: center;
    color: black;
    transition: all ease 0.1s;
}
.Linkinner{
    width: 100%;
    transition: all ease 0.1s;
    padding: 5px;
    border-radius: 10px;
}

 .active {
    color: #ffc107;
    transition: all ease 0.1s;
}