a {
    text-decoration: none;
    justify-content: center;
    color: #8F95B2;
    transition: all ease 0.1s;
}
.Linkinner{
    width: 100%;
    transition: all ease 0.1s;
    padding: 5px;
    border-radius: 10px;
}

.active .Linkinner {
    background-color: #0876A2;
}
.active {
    color: white;
    transition: all ease 0.1s;
}
